
/* Landing Page */

.hidden { display: none;}

header {

    img {
        width: 300px;
    }
}

#search-field {

    background-color: #e7e7e7;
    border: none;
}

.btn-group {

    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;

    .dropdown-parent {
        position: relative;
    }
}




.card-deck {
    margin: 0!important;
    position: absolute;
    top: 25rem;

    /* Mise en forme de la liste des recettes */
    #card-list {

        .recipe-card {
            background-color: #f8f9fb;
            border-radius: 10px;
            min-width: 30%;
            max-width: 30%;
            cursor: pointer;
        
            .card-img-placeholder {
                background-color: #c9bdbd;
                min-height: 200px;
                border-radius: 10px 10px 0 0;
            }
        
            .card-content-title {
                font-size: 1.5rem;
            }
            
            .ingredient-container {
                overflow: hidden;
            }
            
            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                text-align: justify;
                padding-right: 1em;
                margin: 0 -1em -2rem .5rem;
            }
            
            .time {
                font-size:1.5rem
            }
        }
    }
}

