
/* Landing Page */

.hidden { display: none;}

/* Mise en forme de bannière Logo */
header {

    img {
        width: 300px;
    }
}

/* Mise en  forme de la barre de Recherche principal */
#search-field {

    background-color: #e7e7e7;
    border: none;
}


/* Mise en forme de des tags de Selection */
  
    .btn-group {

        position: relative;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
        margin-left: 50px;
        margin-right: 10px;
    
        .dropdown-parent {
            @include searchTags (#007bff);
        }
    
        /*
        .dropdown-parent {
           position: relative;
           background-color: #007bff;
           border-radius: 7px;
           z-index: 5;
           width: 48%; // etat 0:45% etat 1:48%
           margin-right: 1rem;
    
           input[name="keyIngrédients"] {
                background-color: #007bff;
                border: none;
                height: 60px;
                width: 330px;
                font-size: 20px;
                margin-left: 12px;
                color: #e1d4d4;
                //display: none; // etat 1
    
                &::placeholder {
                    color: #e1d4d4;
                }
           }
           .container-list-tags {
            //display: none; // etat 1
                .format-text-list {
                    color: #FFFF;
                    padding-left: 15px; // etat 1
    
                    .format-font-li {
                        font-size: 23px;
                        font-weight: lighter;
                        flex-basis: 31%;
                        cursor: pointer;
                        &:hover {
                            font-weight: 600;
                        }
                    }
            }
           } 
           
    
            #ingredients-tag-btn {
                $display-down : block;
                $display-up: none;
    
                &:active {
                 background-color: #007bff;
                 border: none;
    
                    .switch-down {
                        display: none;
                    }
                    .switch-up {
                        display: block;
                    }
                }
        
                .switch-down {
                    display: $display-down;
                    padding-bottom: 14px;
                    padding-top: 14px; // etat 0
                    width:150px; // etat 0
                }
                .switch-up {
                    display: $display-up;
                }
            }       
        } */
    } 


/*
.btn {
	padding: 1.25rem;
	font-weight: 500;
}

.bg-green, .bg-green input[type="text"] {
	background-color: #00dca9;
	color: white;
}

.btn.bg-green:hover {
	background-color: #00a881;
}

.bg-orange, .bg-orange input[type="text"] {
	background-color: #ff5a47;
	color: white;
}

.btn.bg-orange:hover {
	background-color: #ff2c14;
}

*/

 /* Mise en forme de la liste des recettes */
.card-deck {
    margin: 0!important;
    position: absolute;
    top: 25rem;

   /* mise en forme de la carte Recette */
    #card-list {

        .recipe-card {
            background-color: #f8f9fb;
            border-radius: 10px;
            min-width: 30%;
            max-width: 30%;
            cursor: pointer;
        
            .card-img-placeholder {
                background-color: #c9bdbd;
                min-height: 200px;
                border-radius: 10px 10px 0 0;
            }
        
            .card-content-title {
                font-size: 1.5rem;
            }
            
            .ingredient-container {
                overflow: hidden;
            }
            
            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                text-align: justify;
                padding-right: 1em;
                margin: 0 -1em -2rem .5rem;
            }
            
            .time {
                font-size:1.5rem
            }
        }
    }
}

